In [157]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [158]:
df = pd.read_csv('C:/k-project/raw_datasets/최종(진짜)/01_최종_국내_데이터(x,y 합친 데이터셋).csv', encoding="euc-kr")

df.head()

,일시,합계 생산(1000 toe),무연탄 생산(1000 toe),천연가스 생산(1000 toe),수력 생산(1000 toe),원자력 생산(1000 toe),신재생 및 기타 생산(1000 toe),합계 소비(1000 toe),석탄 소비(1000 toe),석유 소비(1000 toe),액화천연가스 소비(1000 toe),도시가스 소비(1000 toe),전력 소비(1000 toe),열 소비(1000 toe),신재생 및 기타 소비(%),이산화탄소(CO2)
0,1999-01-01,2303.0,162.0,0.0,78.0,1928.0,137.0,13466.0,1522.0,8751.0,0.0,1427.0,1450.0,180.0,137.0,373.1
1,1999-02-01,2216.0,137.0,0.0,94.0,1854.0,132.0,12179.0,1313.0,7800.0,0.0,1404.0,1379.0,152.0,132.0,374.0
2,1999-03-01,2444.0,174.0,0.0,112.0,2012.0,146.0,13219.0,1566.0,8723.0,0.0,1206.0,1447.0,130.0,146.0,374.9
3,1999-04-01,2342.0,163.0,0.0,137.0,1889.0,152.0,11957.0,1526.0,7748.0,0.0,978.0,1477.0,76.0,152.0,375.1
4,1999-05-01,2601.0,151.0,0.0,131.0,2163.0,156.0,10270.0,1544.0,6437.0,0.0,626.0,1463.0,45.0,156.0,374.0

In [159]:
df['일시'].values

array(['1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
       '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
       '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01',
       '2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
       '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
       '2000-09-01', '2000-10-01', '2000-11-01', '2000-12-01',
       '2001-01-01', '2001-02-01', '2001-03-01', '2001-04-01',
       '2001-05-01', '2001-06-01', '2001-07-01', '2001-08-01',
       '2001-09-01', '2001-10-01', '2001-11-01', '2001-12-01',
       '2002-01-01', '2002-02-01', '2002-03-01', '2002-04-01',
       '2002-05-01', '2002-06-01', '2002-07-01', '2002-08-01',
       '2002-09-01', '2002-10-01', '2002-11-01', '2002-12-01',
       '2003-01-01', '2003-02-01', '2003-03-01', '2003-04-01',
       '2003-05-01', '2003-06-01', '2003-07-01', '2003-08-01',
       '2003-09-01', '2003-10-01', '2003-11-01', '2003-12-01',
       '2004-01-01', '2004-02-01', '2004-03-01', '2004-04-01',
       '2004-05-01', '2004-06-01', '2004-07-01', '2004-08-01',
       '2004-09-01', '2004-10-01', '2004-11-01', '2004-12-01',
       '2005-01-01', '2005-02-01', '2005-03-01', '2005-04-01',
       '2005-05-01', '2005-06-01', '2005-07-01', '2005-08-01',
       '2005-09-01', '2005-10-01', '2005-11-01', '2005-12-01',
       '2006-01-01', '2006-02-01', '2006-03-01', '2006-04-01',
       '2006-05-01', '2006-06-01', '2006-07-01', '2006-08-01',
       '2006-09-01', '2006-10-01', '2006-11-01', '2006-12-01',
       '2007-01-01', '2007-02-01', '2007-03-01', '2007-04-01',
       '2007-05-01', '2007-06-01', '2007-07-01', '2007-08-01',
       '2007-09-01', '2007-10-01', '2007-11-01', '2007-12-01',
       '2008-01-01', '2008-02-01', '2008-03-01', '2008-04-01',
       '2008-05-01', '2008-06-01', '2008-07-01', '2008-08-01',
       '2008-09-01', '2008-10-01', '2008-11-01', '2008-12-01',
       '2009-01-01', '2009-02-01', '2009-03-01', '2009-04-01',
       '2009-05-01', '2009-06-01', '2009-07-01', '2009-08-01',
       '2009-09-01', '2009-10-01', '2009-11-01', '2009-12-01',
       '2010-01-01', '2010-02-01', '2010-03-01', '2010-04-01',
       '2010-05-01', '2010-06-01', '2010-07-01', '2010-08-01',
       '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01',
       '2011-01-01', '2011-02-01', '2011-03-01', '2011-04-01',
       '2011-05-01', '2011-06-01', '2011-07-01', '2011-08-01',
       '2011-09-01', '2011-10-01', '2011-11-01', '2011-12-01',
       '2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
       '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
       '2012-09-01', '2012-10-01', '2012-11-01', '2012-12-01',
       '2013-01-01', '2013-02-01', '2013-03-01', '2013-04-01',
       '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01',
       '2013-09-01', '2013-10-01', '2013-11-01', '2013-12-01',
       '2014-01-01', '2014-02-01', '2014-03-01', '2014-04-01',
       '2014-05-01', '2014-06-01', '2014-07-01', '2014-08-01',
       '2014-09-01', '2014-10-01', '2014-11-01', '2014-12-01',
       '2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
       '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
       '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
       '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
       '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
       '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
       '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
       '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
       '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
       '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
       '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
       '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
       '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
       '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
       '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
       '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
       '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
       '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
       '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
       '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
       '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
       '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
       '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01'],
      dtype=object)

In [160]:
# '날짜' 열을 datetime으로 변환
df['일시'] = pd.to_datetime(df['일시'])

df['일시'].values

array(['1999-01-01T00:00:00.000000000', '1999-02-01T00:00:00.000000000',
       '1999-03-01T00:00:00.000000000', '1999-04-01T00:00:00.000000000',
       '1999-05-01T00:00:00.000000000', '1999-06-01T00:00:00.000000000',
       '1999-07-01T00:00:00.000000000', '1999-08-01T00:00:00.000000000',
       '1999-09-01T00:00:00.000000000', '1999-10-01T00:00:00.000000000',
       '1999-11-01T00:00:00.000000000', '1999-12-01T00:00:00.000000000',
       '2000-01-01T00:00:00.000000000', '2000-02-01T00:00:00.000000000',
       '2000-03-01T00:00:00.000000000', '2000-04-01T00:00:00.000000000',
       '2000-05-01T00:00:00.000000000', '2000-06-01T00:00:00.000000000',
       '2000-07-01T00:00:00.000000000', '2000-08-01T00:00:00.000000000',
       '2000-09-01T00:00:00.000000000', '2000-10-01T00:00:00.000000000',
       '2000-11-01T00:00:00.000000000', '2000-12-01T00:00:00.000000000',
       '2001-01-01T00:00:00.000000000', '2001-02-01T00:00:00.000000000',
       '2001-03-01T00:00:00.000000000', '2001-04-01T00:00:00.000000000',
       '2001-05-01T00:00:00.000000000', '2001-06-01T00:00:00.000000000',
       '2001-07-01T00:00:00.000000000', '2001-08-01T00:00:00.000000000',
       '2001-09-01T00:00:00.000000000', '2001-10-01T00:00:00.000000000',
       '2001-11-01T00:00:00.000000000', '2001-12-01T00:00:00.000000000',
       '2002-01-01T00:00:00.000000000', '2002-02-01T00:00:00.000000000',
       '2002-03-01T00:00:00.000000000', '2002-04-01T00:00:00.000000000',
       '2002-05-01T00:00:00.000000000', '2002-06-01T00:00:00.000000000',
       '2002-07-01T00:00:00.000000000', '2002-08-01T00:00:00.000000000',
       '2002-09-01T00:00:00.000000000', '2002-10-01T00:00:00.000000000',
       '2002-11-01T00:00:00.000000000', '2002-12-01T00:00:00.000000000',
       '2003-01-01T00:00:00.000000000', '2003-02-01T00:00:00.000000000',
       '2003-03-01T00:00:00.000000000', '2003-04-01T00:00:00.000000000',
       '2003-05-01T00:00:00.000000000', '2003-06-01T00:00:00.000000000',
       '2003-07-01T00:00:00.000000000', '2003-08-01T00:00:00.000000000',
       '2003-09-01T00:00:00.000000000', '2003-10-01T00:00:00.000000000',
       '2003-11-01T00:00:00.000000000', '2003-12-01T00:00:00.000000000',
       '2004-01-01T00:00:00.000000000', '2004-02-01T00:00:00.000000000',
       '2004-03-01T00:00:00.000000000', '2004-04-01T00:00:00.000000000',
       '2004-05-01T00:00:00.000000000', '2004-06-01T00:00:00.000000000',
       '2004-07-01T00:00:00.000000000', '2004-08-01T00:00:00.000000000',
       '2004-09-01T00:00:00.000000000', '2004-10-01T00:00:00.000000000',
       '2004-11-01T00:00:00.000000000', '2004-12-01T00:00:00.000000000',
       '2005-01-01T00:00:00.000000000', '2005-02-01T00:00:00.000000000',
       '2005-03-01T00:00:00.000000000', '2005-04-01T00:00:00.000000000',
       '2005-05-01T00:00:00.000000000', '2005-06-01T00:00:00.000000000',
       '2005-07-01T00:00:00.000000000', '2005-08-01T00:00:00.000000000',
       '2005-09-01T00:00:00.000000000', '2005-10-01T00:00:00.000000000',
       '2005-11-01T00:00:00.000000000', '2005-12-01T00:00:00.000000000',
       '2006-01-01T00:00:00.000000000', '2006-02-01T00:00:00.000000000',
       '2006-03-01T00:00:00.000000000', '2006-04-01T00:00:00.000000000',
       '2006-05-01T00:00:00.000000000', '2006-06-01T00:00:00.000000000',
       '2006-07-01T00:00:00.000000000', '2006-08-01T00:00:00.000000000',
       '2006-09-01T00:00:00.000000000', '2006-10-01T00:00:00.000000000',
       '2006-11-01T00:00:00.000000000', '2006-12-01T00:00:00.000000000',
       '2007-01-01T00:00:00.000000000', '2007-02-01T00:00:00.000000000',
       '2007-03-01T00:00:00.000000000', '2007-04-01T00:00:00.000000000',
       '2007-05-01T00:00:00.000000000', '2007-06-01T00:00:00.000000000',
       '2007-07-01T00:00:00.000000000', '2007-08-01T00:00:00.000000000',
       '2007-09-01T00:00:00.000000000', '2007-10-01T00:00:00.000000000',
       '2007-11-01T00:00:00.000000000', '2007-12-01T00:00:00.000000000',
       '2008-01-01T00:00:00.000000000', '2008-02-01T00:00:00.000000000',
       '2008-03-01T00:00:00.000000000', '2008-04-01T00:00:00.000000000',
       '2008-05-01T00:00:00.000000000', '2008-06-01T00:00:00.000000000',
       '2008-07-01T00:00:00.000000000', '2008-08-01T00:00:00.000000000',
       '2008-09-01T00:00:00.000000000', '2008-10-01T00:00:00.000000000',
       '2008-11-01T00:00:00.000000000', '2008-12-01T00:00:00.000000000',
       '2009-01-01T00:00:00.000000000', '2009-02-01T00:00:00.000000000',
       '2009-03-01T00:00:00.000000000', '2009-04-01T00:00:00.000000000',
       '2009-05-01T00:00:00.000000000', '2009-06-01T00:00:00.000000000',
       '2009-07-01T00:00:00.000000000', '2009-08-01T00:00:00.000000000',
       '2009-09-01T00:00:00.000000000', '2009-10-01T00:00:00.000000000',
       '2009-11-01T00:00:00.000000000', '2009-12-01T00:00:00.000000000',
       '2010-01-01T00:00:00.000000000', '2010-02-01T00:00:00.000000000',
       '2010-03-01T00:00:00.000000000', '2010-04-01T00:00:00.000000000',
       '2010-05-01T00:00:00.000000000', '2010-06-01T00:00:00.000000000',
       '2010-07-01T00:00:00.000000000', '2010-08-01T00:00:00.000000000',
       '2010-09-01T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '2010-12-01T00:00:00.000000000',
       '2011-01-01T00:00:00.000000000', '2011-02-01T00:00:00.000000000',
       '2011-03-01T00:00:00.000000000', '2011-04-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '2011-06-01T00:00:00.000000000',
       '2011-07-01T00:00:00.000000000', '2011-08-01T00:00:00.000000000',
       '2011-09-01T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-11-01T00:00:00.000000000', '2011-12-01T00:00:00.000000000',
       '2012-01-01T00:00:00.000000000', '2012-02-01T00:00:00.000000000',
       '2012-03-01T00:00:00.000000000', '2012-04-01T00:00:00.000000000',
       '2012-05-01T00:00:00.000000000', '2012-06-01T00:00:00.000000000',
       '2012-07-01T00:00:00.000000000', '2012-08-01T00:00:00.000000000',
       '2012-09-01T00:00:00.000000000', '2012-10-01T00:00:00.000000000',
       '2012-11-01T00:00:00.000000000', '2012-12-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '2013-02-01T00:00:00.000000000',
       '2013-03-01T00:00:00.000000000', '2013-04-01T00:00:00.000000000',
       '2013-05-01T00:00:00.000000000', '2013-06-01T00:00:00.000000000',
       '2013-07-01T00:00:00.000000000', '2013-08-01T00:00:00.000000000',
       '2013-09-01T00:00:00.000000000', '2013-10-01T00:00:00.000000000',
       '2013-11-01T00:00:00.000000000', '2013-12-01T00:00:00.000000000',
       '2014-01-01T00:00:00.000000000', '2014-02-01T00:00:00.000000000',
       '2014-03-01T00:00:00.000000000', '2014-04-01T00:00:00.000000000',
       '2014-05-01T00:00:00.000000000', '2014-06-01T00:00:00.000000000',
       '2014-07-01T00:00:00.000000000', '2014-08-01T00:00:00.000000000',
       '2014-09-01T00:00:00.000000000', '2014-10-01T00:00:00.000000000',
       '2014-11-01T00:00:00.000000000', '2014-12-01T00:00:00.000000000',
       '2015-01-01T00:00:00.000000000', '2015-02-01T00:00:00.000000000',
       '2015-03-01T00:00:00.000000000', '2015-04-01T00:00:00.000000000',
       '2015-05-01T00:00:00.000000000', '2015-06-01T00:00:00.000000000',
       '2015-07-01T00:00:00.000000000', '2015-08-01T00:00:00.000000000',
       '2015-09-01T00:00:00.000000000', '2015-10-01T00:00:00.000000000',
       '2015-11-01T00:00:00.000000000', '2015-12-01T00:00:00.000000000',
       '2016-01-01T00:00:00.000000000', '2016-02-01T00:00:00.000000000',
       '2016-03-01T00:00:00.000000000', '2016-04-01T00:00:00.000000000',
       '2016-05-01T00:00:00.000000000', '2016-06-01T00:00:00.000000000',
       '2016-07-01T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2016-10-01T00:00:00.000000000',
       '2016-11-01T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2017-02-01T00:00:00.000000000',
       '2017-03-01T00:00:00.000000000', '2017-04-01T00:00:00.000000000',
       '2017-05-01T00:00:00.000000000', '2017-06-01T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000', '2017-10-01T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2018-01-01T00:00:00.000000000', '2018-02-01T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2018-04-01T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-06-01T00:00:00.000000000',
       '2018-07-01T00:00:00.000000000', '2018-08-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2018-10-01T00:00:00.000000000',
       '2018-11-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2019-01-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-03-01T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
       '2019-05-01T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2019-07-01T00:00:00.000000000', '2019-08-01T00:00:00.000000000',
       '2019-09-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2019-11-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2020-01-01T00:00:00.000000000', '2020-02-01T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2020-06-01T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '2020-12-01T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2021-02-01T00:00:00.000000000',
       '2021-03-01T00:00:00.000000000', '2021-04-01T00:00:00.000000000',
       '2021-05-01T00:00:00.000000000', '2021-06-01T00:00:00.000000000',
       '2021-07-01T00:00:00.000000000', '2021-08-01T00:00:00.000000000',
       '2021-09-01T00:00:00.000000000', '2021-10-01T00:00:00.000000000',
       '2021-11-01T00:00:00.000000000', '2021-12-01T00:00:00.000000000',
       '2022-01-01T00:00:00.000000000', '2022-02-01T00:00:00.000000000',
       '2022-03-01T00:00:00.000000000', '2022-04-01T00:00:00.000000000',
       '2022-05-01T00:00:00.000000000', '2022-06-01T00:00:00.000000000',
       '2022-07-01T00:00:00.000000000', '2022-08-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [161]:
# # datetime을 float로 변환 (timestamp로 변환)
# df['일시'] = df['일시'].apply(lambda x: x.timestamp())

In [162]:
# df['일시'].values

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   일시                     284 non-null    datetime64[ns]
 1   합계 생산(1000 toe)        284 non-null    float64
 2   무연탄 생산(1000 toe)       284 non-null    float64
 3   천연가스 생산(1000 toe)      284 non-null    float64
 4   수력 생산(1000 toe)        284 non-null    float64
 5   원자력 생산(1000 toe)       284 non-null    float64
 6   신재생 및 기타 생산(1000 toe)  284 non-null    float64
 7   합계 소비(1000 toe)        284 non-null    float64
 8   석탄 소비(1000 toe)        284 non-null    float64
 9   석유 소비(1000 toe)        284 non-null    float64
 10  액화천연가스 소비(1000 toe)    284 non-null    float64
 11  도시가스 소비(1000 toe)      284 non-null    float64
 12  전력 소비(1000 toe)        284 non-null    float64
 13  열 소비(1000 toe)         284 non-null    float64
 14  신재생 및 기타 소비(%)         284 non-null    float64
 15  이산화탄소(CO2)             284 non-null    float64
dtypes: datetime64[ns](1), float64(15)
memory usage: 35.6 KB

In [164]:
# '날짜' 열에서 '년도'와 '월' 정보 추출하여 새로운 열로 추가
df['년도'] = df['일시'].dt.year
df['월'] = df['일시'].dt.month

In [165]:
df['일시']

0     1999-01-01
1     1999-02-01
2     1999-03-01
3     1999-04-01
4     1999-05-01
         ...
279   2022-04-01
280   2022-05-01
281   2022-06-01
282   2022-07-01
283   2022-08-01
Name: 일시, Length: 284, dtype: datetime64[ns]

In [166]:
df.columns

Index(['일시', '합계 생산(1000 toe)', '무연탄 생산(1000 toe)', '천연가스 생산(1000 toe)',
       '수력 생산(1000 toe)', '원자력 생산(1000 toe)', '신재생 및 기타 생산(1000 toe)',
       '합계 소비(1000 toe)', '석탄 소비(1000 toe)', '석유 소비(1000 toe)',
       '액화천연가스 소비(1000 toe)', '도시가스 소비(1000 toe)', '전력 소비(1000 toe)',
       '열 소비(1000 toe)', '신재생 및 기타 소비(%)', '이산화탄소(CO2)', '년도', '월'],
      dtype='object')

In [167]:
#학습데이터 X, y
X = df.drop(['이산화탄소(CO2)','일시'], axis=1) 
y = df['이산화탄소(CO2)']

In [168]:
X

,합계 생산(1000 toe),무연탄 생산(1000 toe),천연가스 생산(1000 toe),수력 생산(1000 toe),원자력 생산(1000 toe),신재생 및 기타 생산(1000 toe),합계 소비(1000 toe),석탄 소비(1000 toe),석유 소비(1000 toe),액화천연가스 소비(1000 toe),도시가스 소비(1000 toe),전력 소비(1000 toe),열 소비(1000 toe),신재생 및 기타 소비(%),년도,월
0,2303.0,162.0,0.0,78.0,1928.0,137.0,13466.0,1522.0,8751.0,0.0,1427.0,1450.0,180.0,137.0,1999,1
1,2216.0,137.0,0.0,94.0,1854.0,132.0,12179.0,1313.0,7800.0,0.0,1404.0,1379.0,152.0,132.0,1999,2
2,2444.0,174.0,0.0,112.0,2012.0,146.0,13219.0,1566.0,8723.0,0.0,1206.0,1447.0,130.0,146.0,1999,3
3,2342.0,163.0,0.0,137.0,1889.0,152.0,11957.0,1526.0,7748.0,0.0,978.0,1477.0,76.0,152.0,1999,4
4,2601.0,151.0,0.0,131.0,2163.0,156.0,10270.0,1544.0,6437.0,0.0,626.0,1463.0,45.0,156.0,1999,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,4952.0,36.0,0.0,101.0,2851.0,1964.0,18556.0,2259.0,9242.0,257.0,2023.0,3763.0,177.0,835.0,2022,4
280,5339.0,34.0,0.0,115.0,3112.0,2078.0,19100.0,2640.0,10119.0,261.0,1518.0,3630.0,117.0,816.0,2022,5
281,5103.0,34.0,0.0,118.0,3137.0,1814.0,17447.0,2563.0,8670.0,274.0,1336.0,3699.0,99.0,807.0,2022,6
282,5402.0,32.0,0.0,146.0,3271.0,1953.0,19313.0,2547.0,10036.0,260.0,1315.0,4174.0,108.0,872.0,2022,7
283,5685.0,29.0,0.0,218.0,3474.0,1964.0,19670.0,2504.0,10422.0,275.0,1177.0,4314.0,105.0,873.0,2022,8

In [169]:
print(X.shape)
print(y.shape)

(284, 16)
(284,)

In [170]:
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score

In [171]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

print('입력변수(학습데이터): ',  X_train.shape)
print('입력변수(검증데이터): ', X_test.shape)
print('종속변수(학습데이터): ',  y_train.shape)
print('종속변수(검증데이터): ', y_test.shape)

입력변수(학습데이터):  (227, 16)
입력변수(검증데이터):  (57, 16)
종속변수(학습데이터):  (227,)
종속변수(검증데이터):  (57,)

In [173]:
# 선형 SVM 모델 생성
model = svm.SVC()
model.fit(X_train, y_train)

# 테스트 데이터로 예측
y_pred = model.predict(X_test)

# 정확도 평가
accuracy = accuracy_score(y_test, y_pred)
print(f"정확도: {accuracy}")

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.