### 1. 필요한 라이브러리 불러오기

In [2]:
import pandas as pd

In [24]:
# csv파일 읽기
df = pd.read_csv('국가별_CO2_배출량(1980-2021)_RNN_전처리.csv')

# 출력
df

,API,COUNTRY,EMISSIONS,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,INTL.4008-8-WORL-MMTCD.A,World,CO2 emissions (MMtonnes CO2),18719.16226,18345.18264,18298.31656,18486.86527,19614.01552,20038.50142,20520.66734,...,34397.05219,34819.96544,34869.28878,34810.52097,34630.11177,35003.04482,35617.66427,35655.03069,33679.78865,35462.72411
1,INTL.4002-8-WORL-MMTCD.A,World,Coal and coke (MMtonnes CO2),7491.61815,7518.337871,7651.370707,7855.808639,8212.132553,8503.411904,8601.810772,...,16274.36294,16460.02908,16363.96638,15989.43298,15580.29052,15628.00181,15827.46674,15741.55202,15251.92078,15966.05733
2,INTL.4010-8-WORL-MMTCD.A,World,Consumed natural gas (MMtonnes CO2),2842.337165,2843.874298,2854.973114,2913.476944,3214.469613,3349.5177,3395.116049,...,6662.05692,6759.120316,6783.647503,6883.268117,7023.602021,7241.122517,7601.449578,7726.427466,7577.037734,7948.649507
3,INTL.4006-8-WORL-MMTCD.A,World,Petroleum and other liquids (MMtonnes CO2),8385.206946,7982.970473,7791.972739,7717.579686,8187.413354,8185.571818,8523.740521,...,11460.63233,11600.81604,11721.67489,11937.81987,12026.21923,12133.92049,12188.74795,12187.0512,10850.83013,11548.01727
4,INTL.4008-8-AFG-MMTCD.A,Afghanistan,CO2 emissions (MMtonnes CO2),1.325964518,1.509627735,1.65960468,2.05960468,2.065436114,2.093515917,2.311010238,...,8.824399339,6.946117844,5.550387121,6.493659084,5.823184544,5.639362838,6.818422849,6.082892279,5.388894815,5.19367574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,INTL.4006-8-ZMB-MMTCD.A,Zambia,Petroleum and other liquids (MMtonnes CO2),2.21293,2,2,2,1.8,1.7,1.8,...,2.694184804,2.829693214,3.248111028,3.551921,3.383059895,3.75043246,4.202187594,3.611800129,4.267328355,4.272046215
916,INTL.4008-8-ZWE-MMTCD.A,Zimbabwe,CO2 emissions (MMtonnes CO2),7.673434383,7.531253431,7.332897573,7.584832144,7.783562489,9.060527367,10.72655405,...,10.9236236,11.58755001,11.29827489,11.82044929,10.41184791,8.992425807,10.29016869,9.408047181,8.253321752,8.118909789
917,INTL.4002-8-ZWE-MMTCD.A,Zimbabwe,Coal and coke (MMtonnes CO2),5.892584383,5.431253431,5.632897573,5.484832144,5.783562489,6.960527367,8.426554045,...,7.1529004,7.254804812,7.364673562,7.73005129,6.874888909,5.461868043,5.912278743,5.468512461,4.491684722,4.149746663
918,INTL.4010-8-ZWE-MMTCD.A,Zimbabwe,Consumed natural gas (MMtonnes CO2),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
919,INTL.4006-8-ZWE-MMTCD.A,Zimbabwe,Petroleum and other liquids (MMtonnes CO2),1.78085,2.1,1.7,2.1,2,2.1,2.3,...,3.770723204,4.3327452,3.933601322,4.090398,3.536959,3.530557764,4.377889944,3.93953472,3.76163703,3.969163126

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 45 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   API        920 non-null    object
 1   COUNTRY    920 non-null    object
 2   EMISSIONS  920 non-null    object
 3   1980       908 non-null    object
 4   1981       909 non-null    object
 5   1982       909 non-null    object
 6   1983       909 non-null    object
 7   1984       909 non-null    object
 8   1985       909 non-null    object
 9   1986       909 non-null    object
 10  1987       909 non-null    object
 11  1988       909 non-null    object
 12  1989       909 non-null    object
 13  1990       909 non-null    object
 14  1991       909 non-null    object
 15  1992       911 non-null    object
 16  1993       911 non-null    object
 17  1994       911 non-null    object
 18  1995       911 non-null    object
 19  1996       911 non-null    object
 20  1997       911 non-null    object
 21  1998       911 non-null    object
 22  1999       911 non-null    object
 23  2000       911 non-null    object
 24  2001       912 non-null    object
 25  2002       912 non-null    object
 26  2003       912 non-null    object
 27  2004       912 non-null    object
 28  2005       912 non-null    object
 29  2006       912 non-null    object
 30  2007       912 non-null    object
 31  2008       912 non-null    object
 32  2009       912 non-null    object
 33  2010       911 non-null    object
 34  2011       912 non-null    object
 35  2012       912 non-null    object
 36  2013       911 non-null    object
 37  2014       911 non-null    object
 38  2015       908 non-null    object
 39  2016       898 non-null    object
 40  2017       905 non-null    object
 41  2018       912 non-null    object
 42  2019       912 non-null    object
 43  2020       916 non-null    object
 44  2021       910 non-null    object
dtypes: object(45)
memory usage: 323.6+ KB

In [26]:
df = df.drop(columns=['API'])
df

,COUNTRY,EMISSIONS,1980,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,World,CO2 emissions (MMtonnes CO2),18719.16226,18345.18264,18298.31656,18486.86527,19614.01552,20038.50142,20520.66734,21169.27187,...,34397.05219,34819.96544,34869.28878,34810.52097,34630.11177,35003.04482,35617.66427,35655.03069,33679.78865,35462.72411
1,World,Coal and coke (MMtonnes CO2),7491.61815,7518.337871,7651.370707,7855.808639,8212.132553,8503.411904,8601.810772,8936.353445,...,16274.36294,16460.02908,16363.96638,15989.43298,15580.29052,15628.00181,15827.46674,15741.55202,15251.92078,15966.05733
2,World,Consumed natural gas (MMtonnes CO2),2842.337165,2843.874298,2854.973114,2913.476944,3214.469613,3349.5177,3395.116049,3571.676242,...,6662.05692,6759.120316,6783.647503,6883.268117,7023.602021,7241.122517,7601.449578,7726.427466,7577.037734,7948.649507
3,World,Petroleum and other liquids (MMtonnes CO2),8385.206946,7982.970473,7791.972739,7717.579686,8187.413354,8185.571818,8523.740521,8661.24218,...,11460.63233,11600.81604,11721.67489,11937.81987,12026.21923,12133.92049,12188.74795,12187.0512,10850.83013,11548.01727
4,Afghanistan,CO2 emissions (MMtonnes CO2),1.325964518,1.509627735,1.65960468,2.05960468,2.065436114,2.093515917,2.311010238,3.646724197,...,8.824399339,6.946117844,5.550387121,6.493659084,5.823184544,5.639362838,6.818422849,6.082892279,5.388894815,5.19367574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,Zambia,Petroleum and other liquids (MMtonnes CO2),2.21293,2,2,2,1.8,1.7,1.8,1.9,...,2.694184804,2.829693214,3.248111028,3.551921,3.383059895,3.75043246,4.202187594,3.611800129,4.267328355,4.272046215
916,Zimbabwe,CO2 emissions (MMtonnes CO2),7.673434383,7.531253431,7.332897573,7.584832144,7.783562489,9.060527367,10.72655405,13.69597594,...,10.9236236,11.58755001,11.29827489,11.82044929,10.41184791,8.992425807,10.29016869,9.408047181,8.253321752,8.118909789
917,Zimbabwe,Coal and coke (MMtonnes CO2),5.892584383,5.431253431,5.632897573,5.484832144,5.783562489,6.960527367,8.426554045,11.19597594,...,7.1529004,7.254804812,7.364673562,7.73005129,6.874888909,5.461868043,5.912278743,5.468512461,4.491684722,4.149746663
918,Zimbabwe,Consumed natural gas (MMtonnes CO2),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
919,Zimbabwe,Petroleum and other liquids (MMtonnes CO2),1.78085,2.1,1.7,2.1,2,2.1,2.3,2.5,...,3.770723204,4.3327452,3.933601322,4.090398,3.536959,3.530557764,4.377889944,3.93953472,3.76163703,3.969163126

In [27]:
# melt 함수를 사용하여 열에서 행으로 데이터 변환
df2 = pd.melt(df, id_vars=['COUNTRY', 'EMISSIONS'], var_name='Year', value_name='Value')

# 결과 출력
df2.tail()

        COUNTRY                                   EMISSIONS  Year        Value
38635    Zambia  Petroleum and other liquids (MMtonnes CO2)  2021  4.272046215
38636  Zimbabwe                CO2 emissions (MMtonnes CO2)  2021  8.118909789
38637  Zimbabwe                Coal and coke (MMtonnes CO2)  2021  4.149746663
38638  Zimbabwe         Consumed natural gas (MMtonnes CO2)  2021            0
38639  Zimbabwe  Petroleum and other liquids (MMtonnes CO2)  2021  3.969163126

In [28]:
df2.describe()

       COUNTRY                     EMISSIONS   Year  Value
count    38640                         38640  38640  38232
unique     230                             4     42  18778
top      World  CO2 emissions (MMtonnes CO2)   1980      0
freq       168                          9660    920   9039

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38640 entries, 0 to 38639
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COUNTRY    38640 non-null  object
 1   EMISSIONS  38640 non-null  object
 2   Year       38640 non-null  object
 3   Value      38232 non-null  object
dtypes: object(4)
memory usage: 1.2+ MB

In [30]:
df2.to_csv('국가별_CO2_배출량(1980-2021)_회귀_시각화_전처리.csv')